
@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "St. Jude's Women & Children Hospital: Advancing Patient Care with Technology since 1993.";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p class="lead">@ViewBag.Message</p>

    <hr />

    <div class="row">
        <p>St. Jude's Women & Children Hospital has been at the forefront of medical innovation since its establishment in 1993. In 2023, we took a significant leap forward by introducing the SJWC Hospital Management System. This platform is part of our commitment to elevating patient care and integrating cutting-edge technology into our services.</p>
        <p>The SJWC Hospital Management System empowers our patients, giving them the convenience to schedule appointments, access their medical records, and communicate with healthcare providers from the comfort of their own homes. This transformation enhances the overall healthcare experience by making it more efficient, secure, and personalized.</p>
        <p>For our dedicated staff, this system streamlines administrative processes, allowing them more time and focus on what matters most - delivering excellent patient care. The management system also provides our doctors with immediate access to critical patient information, thereby improving diagnostic accuracy and enhancing patient management.</p>
        <p>With the SJWC Hospital Management System, our hospital takes a step closer to the future of healthcare, marked by patient satisfaction, clinical excellence, and the integration of advanced technology. We are proud of our commitment and the positive impact it has had on our community.</p>
        <p>Thank you for choosing St. Jude's Women & Children Hospital. We remain committed to providing exceptional care throughout your healthcare journey.</p>
    </div>
</main>
