
@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "We're Here to Assist You.";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p class="lead">@ViewBag.Message</p>

    <hr />

    <p><strong>Operating Hours: </strong>24/7</p>

    <address>
        <strong>Hospital:</strong> Mockingbird Parade, Edinburgh EH12 5AB, Scotland<br />
        <strong>Head Office:</strong> Level 1, 556 Princes Street, Edinburgh EH10 4XY, Scotland<br />
    </address>
    <address>
        <strong>Tel:</strong> +44 (0)131 123 4567 <br />
        <strong>Fax:</strong> +44 (0)131 123 4568
    </address>
    <address>
        <strong>Email:</strong> <a href="mailto:Support@sjwc.org.uk">Support@sjwc.org.uk</a><br />
    </address>
</main>