
@{
    ViewBag.Title = "Emergency Care";
    ViewBag.Message = "Providing timely and effective care when you need it most.";
}

<h2>@ViewBag.Title</h2>
<p class="lead">@ViewBag.Message</p>

<hr />

<div class="row">
    <p>Our Emergency Department is open 24/7 and is equipped with advanced technology to handle critical situations. Our skilled team of emergency physicians, nurses, and technicians are ready to provide immediate, comprehensive and compassionate care. Whether it's a minor injury or a life-threatening situation, we're here for you when seconds count.</p>
</div>