
@{
    ViewBag.Title = "Maternity Care";
    ViewBag.Message = "Care and support for mothers and babies, from pregnancy through to birth and beyond.";
}

<h2>@ViewBag.Title</h2>
<p class="lead">@ViewBag.Message</p>

<hr />

<div class="row">
    <p>Our comprehensive Maternity Services cover all stages of your pregnancy journey - from prenatal care, to labour and delivery, and postnatal support. Our dedicated team of obstetricians, midwives, and nurses provide personalized care and guidance to ensure the health and wellbeing of both mother and baby during this special time.</p>
</div>